<a href="https://colab.research.google.com/github/imnavdeep06/miniproject01-python_assignement/blob/main/Assignemnt1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1. L is a list defined as L= [11, 12, 13, 14].**

(i) WAP to add 50 and 60 to L

In [ ]:
L= [11, 12, 13, 14]
print ("Orignal string : ",L)

L.append (50)
L.append (60)


print ("Updated list : ", L)

Orignal string :  [11, 12, 13, 14]
Updated list :  [11, 12, 13, 14, 50, 60]

(ii)WAP to remove 11 and 13from L.

In [ ]:
L= [11, 12, 13, 14]
print ("Orignal string : ",L)

L.remove (11)
L.remove (13)

print ("Updated list : ", L)

Orignal string :  [11, 12, 13, 14]
Updated list :  [12, 14]

(iii) WAP to sort L in ascending order.

In [ ]:
L= [11, 12, 13, 14]
print ("Orignal string : ",L)

L.sort ()

print ("Updated list : ", L) #no change wil be there as

Orignal string :  [11, 12, 13, 14]
Updated list :  [11, 12, 13, 14]

(iv) WAP to sort L in descending order.

In [ ]:
L= [11, 12, 13, 14]
print ("Orignal string : ",L)

L.sort (reverse = True)

print ("Updated list : ", L) #no change wil be there as

Orignal string :  [11, 12, 13, 14]
Updated list :  [14, 13, 12, 11]

(v) WAP to search for 13 in L.

In [ ]:
L= [11, 12, 13, 14]
for i in L:
  if (i == 13):
    print ("element found at :", L.index(13))
    break

element found at : 2

(vi) WAP to count the number of elements present in L.

In [ ]:
L= [11, 12, 13, 14]

print ("Number of elements in L are : ", len(L))

Number of elements in L are :  4

(vii) WAP to sum all the elements in L.

In [ ]:
L= [11, 12, 13, 14]
print ("sum of elements in list :", sum(L))

sum of elements in list : 50

(viii) WAP to sum all ODD numbers in L.

In [ ]:
L= [11, 12, 13, 14]
sum = 0
for i in L:
  if (i%2 != 0):
    sum = sum + i
print ("sum of odd elements in list :", sum)

sum of odd elements in list : 24

(ix) WAP to sum all EVEN numbers in L.

In [ ]:
L= [11, 12, 13, 14]
sum = 0
for i in L:
  if (i%2 == 0):
    sum = sum + i
print ("sum of odd elements in list :", sum)

sum of odd elements in list : 26

(x) WAP to sum all PRIME numbers in L.

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, n//2):
        if (n % i) == 0:
            return False
    return True

L = [11, 12, 13, 14]
prime_sum = 0

for num in L:
    if is_prime(num):
        prime_sum += num

print("Sum of prime numbers in the list:", prime_sum)

Sum of prime numbers in the list: 24

(xi) WAP to clear all the elements in L.

In [ ]:
L = [11, 12, 13, 14]
for i in L:
  L.clear ()

print (L)

[]

(xii) WAP to delete L.

In [ ]:
L = [11, 12, 13, 14]

del L



---

**Q2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.**

(i) WAP to add new entry in D; key=8 and value is 8.8

In [ ]:
D = {
      1:5.6,
      2:7.8,
      3:6.6,
      4:8.7,
      5:7.7
}
print ("Orignal :", D)
D [8] = 8.8

print ("Updated :", D)

Orignal : {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
Updated : {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

(ii) WAP to remove key=2.

In [ ]:
D = {
      1:5.6,
      2:7.8,
      3:6.6,
      4:8.7,
      5:7.7
}

print ("Orignal :", D)

del D[2]

print ("Updated :", D)

Orignal : {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
Updated : {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

(iii) WAP to check weather 6 key is present in D.

In [ ]:
D = {
      1:5.6,
      2:7.8,
      3:6.6,
      4:8.7,
      5:7.7
}

key_to_check = 6

if key_to_check in D:
    print("The key is present in the dictionary.")
else:
    print("The key is not present in the dictionary.")

The key is not present in the dictionary.

(iv) WAP to count the number of elements present in D.

In [ ]:
D = {
      1:5.6,
      2:7.8,
      3:6.6,
      4:8.7,
      5:7.7
}

print ("number of elements in D : ", len(D))

number of elements in D :  5

(v) WAP to add all the values present D.

In [ ]:
D = {
      1:5.6,
      2:7.8,
      3:6.6,
      4:8.7,
      5:7.7
}
sum = 0
for i in D.values ():
  sum = sum + i
print ("sum of all values in D : ", sum)

sum of all values in D :  36.4

(vi) WAP to update the value of 3 to 7.1.

In [ ]:
D = {
      1:5.6,
      2:7.8,
      3:6.6,
      4:8.7,
      5:7.7
}

D.update ({3:7.1})
print (D)

{1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

(vii) WAP to clear the dictionary.

In [ ]:
D = {
      1:5.6,
      2:7.8,
      3:6.6,
      4:8.7,
      5:7.7
}

D.clear ()
print (D)

{}



---

**Q3. S1 is a set defined as S1= {10, 20, 30, 40, 50, 60}.
S2 is a set defined as S2= {40, 50, 60, 70, 80, 90}.**

(i) WAP to add 55 and 66 in Set S1.

In [ ]:
S1= {10, 20, 30, 40, 50, 60}
print ("Orignal :", S1)

S1.add (55)
S1.add (66)

print ("Updated :", S1)

Orignal : {50, 20, 40, 10, 60, 30}
Updated : {50, 66, 20, 55, 40, 10, 60, 30}

(ii) WAP to remove 10 and 30 from Set S1.

In [ ]:
S1= {10, 20, 30, 40, 50, 60}
print ("Orignal :", S1)

S1.remove (10)
S1.remove (30)

print ("Updated :", S1)

Orignal : {50, 20, 40, 10, 60, 30}
Updated : {50, 20, 40, 60}

(iv) WAP to check whether 40 is present in S1.

In [ ]:
S1= {10, 20, 30, 40, 50, 60}
for i in S1:
  if (i == 40):
    print ("element found")
    break
else :
  print ("element not found")

element found

(v) WAP to find the union between S1 and S2.

In [ ]:
S1= {10, 20, 30, 40, 50, 60}
S2= {40, 50, 60, 70, 80, 90}

print ("union of S1 and S2 : ", S1.union(S2))

union of S1 and S2 :  {70, 40, 10, 80, 50, 20, 90, 60, 30}

(v) WAP to find the intersection between S1 and S2.

In [ ]:
S1= {10, 20, 30, 40, 50, 60}
S2= {40, 50, 60, 70, 80, 90}

print ("intersection of S1 and S2 : ", S1.intersection(S2))

intersection of S1 and S2 :  {40, 50, 60}

(vi) WAP to find the S1 - S2.

In [ ]:
S1= {10, 20, 30, 40, 50, 60}
S2= {40, 50, 60, 70, 80, 90}

print ("S1 - S2 : ", S1-S2)

S1 - S2 :  {10, 20, 30}



---

**Q4. Write the following program.**

(i) WAP to print 100 random strings whose length between 6 and 8.

In [4]:
import random as r
print ("The random strings are :")
for i in range (100):
  length = r.randint(6,8)
  random_string = ''.join(r.choices('abcdefghijklmnopqrstuvwxyz1234567890', k=length))
  print (random_string)

The random strings are :
f29nk50
1614bq3
poyo6c1
89y1hoh
mclfcd5
b9h1mdo
tfs8c4
ds6keqpj
e9vqug0z
hirqe8
lufk0lr9
pgezk4ca
v2w2ou
3nu9wy3t
5bct8a
ohcrbu
wd2vzhay
c8l56r3f
ny64s1y
o7a798u
bke4cf0
klksl2k3
ter5nd
03664gm7
e6beji1l
vzat59
ktdcgeg
b2a8x6bd
0bi8q16
yyuuuwc5
1fe6fwy
fnjhr5
ufbmdj
v3epood
gedpdw
6xovyp
6e1m3xl
hta45x1
qmh297
4rsydrsn
np5tu9k
i1dxl3b
po4xn8
lab9wbw
06mywt
gy6plub
sfwi4cx
fa3m7mm
frnhped
ffrdr2be
zdshrjb
hwq15ath
fta7oz
ix7f5yn
nelvxv
e2s0ezm
o8gx70p
8nzegqr
53mkn5jw
dvm7bmt
ay75ht
g48wmz1
xmlwuyc
cgyu5oj
091u9nw
59pepm
y4dsoihw
7ma8hi0
syzailb
xgbgx5rp
qq15acv
ud976gj
zaydc9
5o7rj3yg
9us1d85
va5e8bt0
y3aipog
lhsrcc1a
5hbkasc
onavwgxt
zrf5hus
oj3j57nv
2lsvy5
sz4bx7s
7z8v210
49ka5h
bjprdxs
33f3pw
q4a3w7
8wiqb52
9w296v
wndiwm
c2igoefn
iamz46
5annfqqx
4earzefk
q56h33w
vt9fc64i
797otqkb
i29o33

(ii) WAP to print all prime numbers between 600 and 800.

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, n//2):
        if (n % i) == 0:
            return False
    return True

for i in range(600,801,1):
  if (is_prime(i)):
    print (i)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [ ]:
def divby7 (n):
  if n % 7 == 0:
    return True
def divby9 (n):
  if n % 9 == 0:
    return True

for i in range (100,1001,1):
  if (divby7(i) and divby9(i)):
    print (i)

126
189
252
315
378
441
504
567
630
693
756
819
882
945



---

**Q5. WAP to create two lists of 10 random numbers between 10 and 30; Find**

(i) Common numbers in the two lists

In [ ]:
import random as r

random_list1 = r.sample(range(10, 31), 10)
random_list2 = r.sample(range(10, 31), 10)

print("List 1:", random_list1)
print("List 2:", random_list2)

common_numbers = list(set(random_list1) & set(random_list2))

print("Common numbers:", common_numbers)

List 1: [15, 24, 20, 26, 14, 17, 18, 21, 11, 10]
List 2: [20, 23, 19, 10, 21, 13, 18, 12, 15, 25]
Common numbers: [10, 15, 18, 20, 21]

(ii) Unique numbers in both the list

In [ ]:
import random as r

list1 = r.sample(range(10, 31), 10)
list2 = r.sample(range(10, 31), 10)

set1 = set(list1)
set2 = set(list2)

unique_in_list1 = set1 - set2
unique_in_list2 = set2 - set1

total_unique = unique_in_list1.union(unique_in_list2)

print("List 1:", list1)
print("List 2:", list2)
print("Unique elements in List 1:", unique_in_list1)
print("Unique elements in List 2:", unique_in_list2)

List 1: [16, 10, 12, 29, 11, 28, 14, 13, 15, 24]
List 2: [11, 21, 23, 28, 22, 15, 12, 14, 19, 24]
Unique elements in List 1: {16, 10, 29, 13}
Unique elements in List 2: {19, 21, 22, 23}

(iii) Minimum in both the list

In [ ]:
import random as r

list1 = r.sample(range(10, 31), 10)
list2 = r.sample(range(10, 31), 10)

print("List 1:", list1)
print("List 2:", list2)

print ("minimum in list 1 : ", min(list1))
print ("minimum in list 2 : ", min(list2))

List 1: [16, 27, 11, 28, 26, 13, 23, 14, 20, 25]
List 2: [12, 26, 19, 22, 13, 18, 16, 23, 20, 10]
minimum in list 1 :  11
minimum in list 2 :  10

(iv) Maximum in both the list

In [ ]:
import random as r

list1 = r.sample(range(10, 31), 10)
list2 = r.sample(range(10, 31), 10)

print("List 1:", list1)
print("List 2:", list2)

print ("maximum in list 1 : ", max(list1))
print ("maximum in list 2 : ", max(list2))

List 1: [25, 23, 10, 24, 12, 15, 13, 11, 30, 29]
List 2: [22, 21, 12, 24, 18, 14, 28, 20, 26, 23]
maximum in list 1 :  30
maximum in list 2 :  28

(v) Sum of both the lists

In [ ]:
import random as r

list1 = r.sample(range(10, 31), 10)
list2 = r.sample(range(10, 31), 10)

print("List 1:", list1)
print("List 2:", list2)

sum1, sum2 = 0,0

for i in list1:
  sum1 = sum1 + i

for i in list2:
  sum2 = sum2 + i

print ("sum of list 1 : ", sum1)
print ("sum of list 2 : ", sum2)

List 1: [24, 25, 30, 10, 23, 17, 15, 22, 19, 13]
List 2: [24, 15, 28, 16, 14, 12, 30, 23, 19, 10]
sum of list 1 :  198
sum of list 2 :  191

**Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:**

(i) All odd numbers

In [ ]:
import random as r

random_list = r.sample(range(100, 901), 100)

print("List of 100 random numbers:", random_list)

for i in random_list:
  if (i%2 != 0):
    print (i)

List of 100 random numbers: [470, 476, 704, 827, 497, 403, 813, 446, 789, 463, 609, 454, 220, 167, 188, 822, 399, 165, 215, 596, 829, 344, 122, 304, 690, 840, 197, 473, 722, 246, 405, 102, 779, 385, 198, 353, 411, 806, 209, 444, 871, 460, 787, 453, 553, 717, 125, 694, 287, 698, 127, 203, 253, 804, 498, 509, 743, 791, 100, 530, 504, 516, 786, 744, 477, 311, 659, 750, 652, 769, 802, 115, 728, 696, 524, 678, 324, 410, 194, 376, 119, 641, 310, 574, 464, 756, 793, 602, 163, 692, 600, 196, 506, 863, 248, 172, 360, 662, 278, 763]
827
497
403
813
789
463
609
167
399
165
215
829
197
473
405
779
385
353
411
209
871
787
453
553
717
125
287
127
203
253
509
743
791
477
311
659
769
115
119
641
793
163
863
763

(ii) All even numbers

In [ ]:
import random as r

random_list = r.sample(range(100, 901), 100)

print("List of 100 random numbers:", random_list)

for i in random_list:
  if (i%2 == 0):
    print (i)

List of 100 random numbers: [678, 418, 776, 210, 595, 739, 453, 426, 528, 392, 227, 642, 650, 703, 167, 180, 633, 588, 416, 812, 499, 334, 501, 785, 519, 125, 450, 537, 898, 535, 184, 427, 443, 220, 641, 434, 322, 440, 449, 635, 128, 262, 228, 704, 850, 636, 259, 252, 791, 754, 886, 505, 264, 303, 424, 346, 577, 335, 709, 875, 215, 349, 726, 727, 545, 344, 777, 838, 474, 379, 571, 279, 738, 141, 548, 555, 232, 863, 362, 442, 269, 660, 140, 366, 689, 574, 707, 589, 746, 529, 637, 793, 345, 576, 845, 797, 679, 260, 123, 503]
678
418
776
210
426
528
392
642
650
180
588
416
812
334
450
898
184
220
434
322
440
128
262
228
704
850
636
252
754
886
264
424
346
726
344
838
474
738
548
232
362
442
660
140
366
574
746
576
260

(iii) All prime numbers

In [ ]:
import random as r

random_list = r.sample(range(100, 901), 100)

print ("List of 100 random numbers:", random_list)

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, n//2):
        if (n % i) == 0:
            return False
    return True

for i in random_list:
  if (is_prime(i)):
    print (i)

List of 100 random numbers: [545, 348, 410, 432, 494, 524, 462, 881, 724, 735, 340, 171, 352, 540, 204, 592, 533, 764, 694, 631, 163, 325, 330, 574, 384, 738, 589, 567, 760, 328, 169, 779, 840, 879, 234, 536, 890, 324, 166, 892, 241, 338, 341, 645, 182, 481, 485, 457, 113, 638, 539, 502, 101, 665, 415, 676, 855, 774, 242, 455, 674, 680, 295, 723, 490, 846, 398, 806, 422, 296, 316, 799, 433, 614, 333, 619, 133, 475, 407, 229, 773, 501, 880, 401, 640, 172, 192, 345, 377, 311, 493, 199, 615, 452, 317, 424, 336, 476, 550, 617]
881
631
163
241
457
113
101
433
619
229
773
401
311
199
317
617

**Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.
WAP to read all the keys and values from dictionary and write to the file in the given below format.**

Key1, Value1
Key2, Value2
Key3, Value3

In [8]:
D={
    1:"One",
    2:"Two",
    3:"Three",
    4:"Four",
    5:"Five"
}

# Open the file in write mode
with open("output.txt", "w") as file:
    for key, value in D.items():
        file.write(f"{key}, {value}\n") #formated string usage

print("Data written to 'output.txt' successfully.")

Data written to 'output.txt' successfully.

**Q8. L is a list defined as L={"One","Two","Three","Four","Five"}.
WAP to count the length of reach element from a list and write to the file in the given below format:
One, 3
Two, 3
Four, 4**

In [10]:
L = ["One", "Two", "Three", "Four", "Five"]

# Open the file in write mode
with open("output.txt", "w") as file:
    for word in L:
        length = len(word)
        file.write(f"{word} --> {length}\n")

print("Lengths written to 'output.txt' successfully.")

Lengths written to 'output.txt' successfully.

**Q9. Write to the file 100 random strings whose length between 10 and 15.**

In [13]:
import random as r

# Open the file in write mode
with open("random_strings.txt", "w") as file:
    for i in range(100):
        length = r.randint(10, 15)
        random_string = ''.join(r.choices('abcdefghijklmnopqrstuvwxyz1234567890', k=length))
        file.write(random_string + "\n")

print("Random strings written to 'random_strings.txt' successfully.")

Random strings written to 'random_strings.txt' successfully.

**Q10. Write to the file all prime numbers between 600 and 800.**

In [16]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, n//2):
        if (n % i) == 0:
            return False
    return True

with open("prime_numbers.txt", "w") as file:
    for i in range(600, 801):
        if is_prime(i):
            file.write(str(i) + "\n")

print ("prime numbers are written successfuly")

prime numbers are written successfuly

**Q11. WAP to calculate the time taken by a program.**

In [17]:
import time as t
t1 = t.time ()
t.sleep (3) #this program will run for 3 seconds
t2 = t.time ()
print ("time taken : ", t2-t1)

time taken :  3.0003912448883057

**Q12. WAP to sort following number of elements in a list, calculate time taken and plot the graph.
Number of elements in list Time Taken
5k T1
10k T2
15k T3
20k T4
25k T5**

In [18]:
#doubt

**Q13. WAP to create a dictionary of student marks in five subjects and you have to find the student
having maximum and minimum average marks.**

In [19]:
students = {
    "Alice": [88, 76, 92, 85, 79],
    "Bob": [65, 70, 60, 68, 72],
    "Charlie": [90, 85, 87, 91, 89],
    "David": [55, 60, 52, 58, 65],
    "Eva": [80, 82, 78, 85, 88]
}

averages = {} # Dictionary to store average marks

# Calculate average for each student
for name, marks in students.items():
    avg = sum(marks) / len(marks)
    averages[name] = avg

# Find max and min average
max_student = max(averages, key=averages.get)
min_student = min(averages, key=averages.get)

print(f"Student with Maximum Average: {max_student} - {averages[max_student]:.2f}")
print(f"Student with Minimum Average: {min_student} - {averages[min_student]:.2f}")

Student with Maximum Average: Charlie - 88.40
Student with Minimum Average: David - 58.00